<! DOCTYPE html>
<html>
    <head>
        <title> react </title>
        <script src=//fb.me/react-0.12.2.min.js></script>
        <script src="/browser_bundle.js"></script>
    </head>
    <body>
        <div id="react-root">
            <%- title %>
        </div>
    </body>
</html>
